<app-header-comp></app-header-comp>

<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="article-title">
      Article: The FitnessGram Pacer Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="article">
    <p>The FitnessGram Pacer Test is a multistage aerobic capacity test that progressively gets more
      difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start.
      The running speed starts slowly but gets faster each minute after you hear this signal bodeboop.
      A sing lap should be completed every time you hear this sound. ding Remember to run in a straight line
      and run as long as possible. The second time you fail to complete a lap before the sound, your test is
      over. The test will begin on the word start. On your mark. Get ready!… Start. ding</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="home" (click)="goToHomePage()" expand="full">
      Back to Home
    </ion-button>
  </ion-toolbar>
</ion-footer>
</div>